.block_ned_sidebar li { clear: both; }
.block_ned_sidebar li .column { width: 100%; }
.block_ned_sidebar li .buttons { float: right; margin: 0; }
.dir-rtl .block_ned_sidebar li .buttons { float: left; }
.block_ned_sidebar li .buttons a img{ vertical-align: text-bottom; }
.block_ned_sidebar .footer { margin-top: 1em; }
.block_ned_sidebar .section_add_menus noscript div { display: inline; }
.block_ned_sidebar .section-quick-link { text-align: right; margin-right: 5px; }
